@use "./mixins" as *;

:root {
  font-size: 10px;
  background-color: #fefcf7;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Fraunces", serif;
}

.container {
  width: min(100% - 4.8rem, 128rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 8rem, 128rem);
  }

  @include mq(laptop) {
    width: min(100% - 16rem, 128rem);
  }
}
